# BLOCK RESETPATHS;
# BLOCK ASYNCPATHS;
#
# System PLL
#LOCATE COMP "hwclk" SITE "37" ;
#IOBUF PORT "hwclk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
#LOCATE COMP "pll/PLLInst_0" SITE "PLL_BL0" ;
#
LOCATE COMP "clock_50_sys_in" SITE "37" ;
IOBUF PORT "clock_50_sys_in" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "pll/PLLInst_0" SITE "PLL_BL0" ;
#
# Video Display Processor PLL
LOCATE COMP "clock_50_vdp_in" SITE "69" ;
IOBUF PORT "clock_50_vdp_in" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "pll_clkgen_vdp_inst/PLLInst_0" SITE "PLL_BR0" ;
#
#
# CPU clocks and reset
#
LOCATE COMP "phi" SITE "90" ;
LOCATE COMP "extal" SITE "10" ;
LOCATE COMP "reset" SITE "143" ;
#
IOBUF PORT "phi" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "extal" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=16 ;
IOBUF PORT "reset" IO_TYPE=LVCMOS33 OPENDRAIN=ON DRIVE=16 ;
#
#
# CPU Address Bus
#
LOCATE COMP "a[0]" SITE "94" ;
LOCATE COMP "a[1]" SITE "97" ;
LOCATE COMP "a[2]" SITE "99" ;
LOCATE COMP "a[3]" SITE "103" ;
LOCATE COMP "a[4]" SITE "105" ;
LOCATE COMP "a[5]" SITE "119" ;
LOCATE COMP "a[6]" SITE "121" ;
LOCATE COMP "a[7]" SITE "125" ;
LOCATE COMP "a[8]" SITE "127" ;
LOCATE COMP "a[9]" SITE "133" ;
LOCATE COMP "a[10]" SITE "128" ;
LOCATE COMP "a[11]" SITE "126" ;
LOCATE COMP "a[12]" SITE "124" ;
LOCATE COMP "a[13]" SITE "120" ;
LOCATE COMP "a[14]" SITE "118" ;
LOCATE COMP "a[15]" SITE "104" ;
LOCATE COMP "a[16]" SITE "102" ;
LOCATE COMP "a[17]" SITE "98" ;
LOCATE COMP "a[18]" SITE "95" ;
LOCATE COMP "a[19]" SITE "134" ;
LOCATE COMP "a[20]" SITE "93" ;
#
# MEM_CE2_N                      U201.93 
#'/FPGA IO/MEM_A20_CE2_N_S'      U201.93    
#
IOBUF PORT "a[0]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "a[1]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "a[2]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "a[3]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "a[4]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "a[5]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "a[6]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "a[7]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "a[8]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "a[9]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "a[10]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "a[11]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "a[12]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "a[13]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "a[14]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "a[15]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "a[16]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "a[17]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "a[18]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "a[19]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
# The Z8S180 cpu has a 20 bit wide address bus so A[20] is floating.
# A[20] needs to be pulled down rather than up as the boot code is
# programmed by the FPGA into lower portion if memory.
IOBUF PORT "a[20]" IO_TYPE=LVCMOS33 PULLMODE=DOWN DRIVE=16 ;
#
#
# Memory specific Signals
#
LOCATE COMP "we_n" SITE "117" ;
LOCATE COMP "oe_n" SITE "107" ;
LOCATE COMP "ce_n" SITE "106" ;
#
IOBUF PORT "we_n" IO_TYPE=LVCMOS33 DRIVE=16 ;
IOBUF PORT "oe_n" IO_TYPE=LVCMOS33 DRIVE=16 ;
IOBUF PORT "ce_n" IO_TYPE=LVCMOS33 DRIVE=16 ;
#
#
# CPU Bus Control Signals
#
LOCATE COMP "rd_n" SITE "2" ;
LOCATE COMP "wr_n" SITE "142" ;
LOCATE COMP "mreq_n" SITE "141" ;
LOCATE COMP "iorq_n" SITE "4" ;
LOCATE COMP "m1_n" SITE "139" ;
LOCATE COMP "int_n[0]" SITE "136" ;
LOCATE COMP "int_n[1]" SITE "5" ;
LOCATE COMP "nmi_n" SITE "3" ;
LOCATE COMP "dreq1_n" SITE "6" ;
LOCATE COMP "tend1_n" SITE "7" ;
LOCATE COMP "busreq_n" SITE "140" ;
LOCATE COMP "busack_n" SITE "135" ;
LOCATE COMP "wait_n" SITE "1" ;
#
IOBUF PORT "rd_n" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "wr_n" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "mreq_n" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "iorq_n" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "m1_n" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "int_n[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "int_n[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "nmi_n" IO_TYPE=LVCMOS33 ;
IOBUF PORT "dreq1_n" IO_TYPE=LVCMOS33 ;
IOBUF PORT "tend1_n" PULLMODE=UP IO_TYPE=LVCMOS33 ;
IOBUF PORT "busreq_n" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "busack_n" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "wait_n" IO_TYPE=LVCMOS33 ;
#
#
# CPU Data Bus
#
LOCATE COMP "d[0]" SITE "108" ;
LOCATE COMP "d[1]" SITE "111" ;
LOCATE COMP "d[2]" SITE "113" ;
LOCATE COMP "d[3]" SITE "115" ;
LOCATE COMP "d[4]" SITE "116" ;
LOCATE COMP "d[5]" SITE "114" ;
LOCATE COMP "d[6]" SITE "112" ;
LOCATE COMP "d[7]" SITE "110" ;
#
IOBUF PORT "d[0]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "d[1]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "d[2]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "d[3]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "d[4]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "d[5]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "d[6]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "d[7]" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
#
#
# Specify the System Config Mode
# MCCLK_FREQ = 2.4 is default if not specified. It's the safest frequency for board bringup.
# Options are MCCLK_FREQ = 2.4, 4.8, 9.7, 19.4, 38.8, 62
SYSCONFIG MASTER_SPI_PORT=DISABLE SLAVE_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE CONFIG_IOVOLTAGE=3.3 CONFIG_MODE=SPI_SERIAL WAKE_UP=21 MCCLK_FREQ=62 ;
#
# Bank Voltages
#
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
BANK 3 VCCIO 3.3 V;
BANK 6 VCCIO 3.3 V;
BANK 7 VCCIO 3.3 V;
BANK 8 VCCIO 3.3 V;
#
VCCIO_DERATE PERCENT 0; 
BLOCK RESETPATHS ;
#
#
# UART Ports
#
LOCATE COMP "uart1_tx" SITE "23" ;
LOCATE COMP "uart1_rx" SITE "25" ;
LOCATE COMP "uart2_tx" SITE "24" ;
LOCATE COMP "uart2_rx" SITE "26" ;
#
IOBUF PORT "uart1_tx" IO_TYPE=LVCMOS33 DRIVE=16 ;
IOBUF PORT "uart1_rx" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "uart2_tx" IO_TYPE=LVCMOS33 DRIVE=16 ;
IOBUF PORT "uart2_rx" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
#
# Video vga
#
LOCATE COMP "rgb_red[0]" SITE "92" ;
LOCATE COMP "rgb_red[1]" SITE "91" ;
LOCATE COMP "rgb_red[2]" SITE "89" ;
LOCATE COMP "rgb_red[3]" SITE "88" ;
LOCATE COMP "rgb_green[0]" SITE "84" ;
LOCATE COMP "rgb_green[1]" SITE "82" ;
LOCATE COMP "rgb_green[2]" SITE "81" ;
LOCATE COMP "rgb_green[3]" SITE "80" ;
LOCATE COMP "rgb_blue[0]" SITE "79" ;
LOCATE COMP "rgb_blue[1]" SITE "78" ;
LOCATE COMP "rgb_blue[2]" SITE "77" ;
LOCATE COMP "rgb_blue[3]" SITE "76" ;
LOCATE COMP "rgb_hsync" SITE "74" ;
LOCATE COMP "rgb_vsync" SITE "73" ;
#
IOBUF PORT "rgb_red[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_red[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_red[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_red[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_green[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_green[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_green[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_green[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_blue[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_blue[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_blue[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_blue[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_hsync" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rgb_vsync" IO_TYPE=LVCMOS33 ;
#
#
# Audio DAC interface
#
LOCATE COMP "audio_mclk" SITE "67" ;
LOCATE COMP "audio_bclk" SITE "68" ;
LOCATE COMP "audio_lrclk" SITE "72" ;
LOCATE COMP "audio_data" SITE "71" ;
#
IOBUF PORT "audio_mclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "audio_bclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "audio_lrclk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "audio_data" IO_TYPE=LVCMOS33 ;
#
#
# FPGA SPI Bus
#
LOCATE COMP "spi_mosi" SITE "47" ;
LOCATE COMP "spi_cs_n" SITE "49" ;
LOCATE COMP "spi_miso" SITE "46" ;
#
IOBUF PORT "spi_cs_n" IO_TYPE=LVCMOS33 DRIVE=16 ;
IOBUF PORT "spi_mosi" IO_TYPE=LVCMOS33 DRIVE=16 ;
IOBUF PORT "spi_miso" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
#
# SD card
#
LOCATE COMP "sd_clk" SITE "14" ;
LOCATE COMP "sd_mosi" SITE "12" ;
LOCATE COMP "sd_miso" SITE "13" ;
LOCATE COMP "sd_ssel_n" SITE "18" ;
LOCATE COMP "sd_det" SITE "11" ;
#
IOBUF PORT "sd_clk" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=16 ;
IOBUF PORT "sd_mosi" IO_TYPE=LVCMOS33 DRIVE=16 ;
IOBUF PORT "sd_miso" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "sd_ssel_n" IO_TYPE=LVCMOS33 DRIVE=16 ;
IOBUF PORT "sd_det" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
#
# SNES
#
LOCATE COMP "snes_clock" SITE "51" ;
LOCATE COMP "snes_latch" SITE "50" ;
LOCATE COMP "snes1_data" SITE "48" ;
LOCATE COMP "snes2_data" SITE "52" ;
#
IOBUF PORT "snes_clock" IO_TYPE=LVCMOS33 ;
IOBUF PORT "snes_latch" IO_TYPE=LVCMOS33 ;
IOBUF PORT "snes1_data" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "snes2_data" IO_TYPE=LVCMOS33 PULLMODE=UP ;
#
#
# User SPI
#
LOCATE COMP "user_spi_clk" SITE "31" ;
LOCATE COMP "user_spi_mosi" SITE "33" ;
LOCATE COMP "user_spi_miso" SITE "30" ;
LOCATE COMP "user_spi_cs_n" SITE "34" ;
#
IOBUF PORT "user_spi_clk" IO_TYPE=LVCMOS33 SLEWRATE=FAST DRIVE=16 ;
IOBUF PORT "user_spi_mosi" IO_TYPE=LVCMOS33 DRIVE=16 ;
IOBUF PORT "user_spi_miso" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "user_spi_cs_n" IO_TYPE=LVCMOS33 DRIVE=16 ;
#
#
# User I2C 
#
LOCATE COMP "user_i2c_clk" SITE "27" ;
LOCATE COMP "s1_n" SITE "28" ;
#
IOBUF PORT "user_i2c_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "s1_n" IO_TYPE=LVCMOS33 ;
#
#
# PS2 Keyboard and Mouse
# 
LOCATE COMP "ps2_keyb_clk" SITE "19" ;
LOCATE COMP "ps2_keyb_dat" SITE "22" ;
#
IOBUF PORT "ps2_keyb_clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "ps2_keyb_dat" IO_TYPE=LVCMOS33 ;
#
#
# User GPIO 
#
LOCATE COMP "led[5]" SITE "40" ;
LOCATE COMP "led[4]" SITE "41" ;
LOCATE COMP "led[3]" SITE "44" ;
LOCATE COMP "led[2]" SITE "45" ;
LOCATE COMP "led[1]" SITE "35" ;
LOCATE COMP "led[0]" SITE "39" ;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33 ;
